alabaster
amqp
anyjson
appdirs
argh
asn1crypto
attrs
Babel
backcall
backports.ssl-match-hostname
bcrypt
billiard
bitarray
blinker
boto3
cached-property
celery==4.3.0
certifi
cffi
chardet
Click
colorama
contextlib2
coreapi
coreschema
coverage
cryptography
decorator
defusedxml
Django==2.2.4
django-celery==3.3.0
django-extensions
django-filter
django-mailer
django-model-utils
django-notifications-hq==1.5.0
django-rest-framework-mongoengine
django-rest-swagger
djangorestframework==3.10.2
djutil
docutils
drf-spectacular
enum34
et-xmlfile
fake-factory
Faker==0.7.17
filechunkio
flower
futures
gevent
greenlet
gunicorn
html5lib
idna
imagesize
importlib-metadata
inflection
ipaddress
ipython
ipython-genutils
isodate
itypes
jdcal
jedi
Jinja2
jmespath
json-logging-py
jsonfield
#jsonschema
kombu
livereload
lockfile
lxml
MarkupSafe
meld3
mongoengine
more-itertools
mosql==0.11
ndg-httpsclient
numerize
numpy
openapi-codec
openpyxl
pandas
paramiko
parso
pathtools
pdfkit
pexpect
pickleshare
Pillow
port-for
prompt-toolkit
psycopg2-binary==2.8.6
ptyprocess
pusher
pusherclient
py3dns
pyasn1
pyathena
pycparser
Pygments
pymediainfo
pymongo
PyNaCl
pyOpenSSL
pyparsing
PyPDF2
pyrsistent
pysftp
python-dateutil
python-http-client
python-json-logger
pytz
raven
redis
reportlab
requests
requests-toolbelt
rsa
s3transfer
selenium
sendgrid
simplejson
six
snowballstemmer
Sphinx
sphinx-autobuild
sphinxcontrib-websupport
SQLAlchemy
sqlparse
supervisor
tableauserverclient
tenacity
tinys3
toml
tornado
traitlets
typing-extensions
uritemplate
urllib3
validate-email
validators
vine
watchdog
wcwidth
webencodings
websocket-client
xhtml2pdf
xlrd
XlsxWriter
xlwt
xmltodict
zeep
zipp